.side-bar 
  .side-bar__user
    .top-items
      .top-items__name アイウエオ
      .top-items__icons
        =link_to "#"  do
          = icon('fas', 'image')
        =link_to "#"  do
          = icon('fas', 'cog')
  .side-bar__group-list
    .group
      .group__group-name ベイスターズ
      .group__latest-message 筒香頑張れ